<section class="login">
    <div class="container box " >
        <form #loginform ="ngForm" (ngSubmit)='getformvalue(loginform.value)'>
            <label for="text" >User Name</label>
            <input type="text" class="form-control" name="user" ngModel>
            <label for="text" >Password</label>
            <input type="password" class="form-control" name="password"  ngModel>
            <input type="checkbox" name="checked" ngModel>
            <button type="submit" class="btn bg-success mt-3 text-center">login</button>
        </form>
    </div>

    <button type="button" (click)="senddata()">Send data from child to parent</button>
</section>